# Frontend dependencies
Frontend/node_modules/

# Frontend build
Frontend/dist/

Frontend/.env
Frontend/.env.local

# Environment files
.env
.env.*
Frontend/.env
Frontend/.env.*

# Vite
Frontend/.vite/

# Python backend
Backend/venv/
Backend/.venv/
Backend/__pycache__/
Backend/**/__pycache__/

# Python compiled files
*.pyc
*.pyo

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db