# Python
Backend/venv/
Backend/__pycache__/
__pycache__/
*.pyc

# Environment variables
Backend/.env
.env

# Frontend
Frontend/node_modules/
Frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db